.container {
  display: flex;
  justify-content: center;
  margin: 36px auto 32px;
  max-width: 1128px;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  margin-right: 8px;
  padding: 0;
  text-indent: 16px;
  outline: none;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: 1px solid #4e75ff;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

input:hover,
input:focus {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #4e75ff;
}

.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  max-width: 1128px;
  margin: 0 auto;
}

.li-item {
  flex-basis: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  outline: none;
}

.img-item {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.img-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 48px;
}

.info-label {
  font-weight: 600;
  font-size: 12px;

  /* line-height: 16px; */
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.info-value {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 24px; */
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  display: none;
  margin: 20px auto;
}
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #4e75ff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

/* Клас для показу */
.loader.is-active {
  display: block;
}

.load-btn {
  display: none;
  margin: 32px auto;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
}